.search-view {
    display: flex;
    flex-direction: column;
}

.search-view>div {
    padding: 5px;
}

.search-view>div input[type="text"] {
    width: calc(100% - 10px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-view>div:last-child {
    flex-grow: 1;
    overflow: auto;
}

.search-view .loading .spin {
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-options {
    display: flex;
    flex-wrap: wrap;
}

.search-options button {
    margin-left: auto;
}

.search-options input
{
    margin-right: 15px;
}

.search-view table {
    margin: 20px;
    width: calc(100% - 40px);
    border-collapse: collapse;
    min-width: 600px;
}

.search-btn {
    margin-left: auto;
}

.search-scope {
    display: flex;
}